<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Tables with sql server</title>
</head>
<body>
    <h1>this is a test with database sql server</h1>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th >Número de guia</th>
            <th>Fecha de guia</th>
            <th >Día de producción</th>
            <th>Año produccion</th>
            <th>Viaje orden trabajo</th>
            <th>Año orden trabajo</th>
            <th>Codigo proveedor</th>
            <th>Nombre proveedor</th>
            <th>Nombre tipo miga</th>
            <th>Nombre op</th>
            <th>Nombre cliente</th>
            <th>Nombre</th>
            <th>Numero</th>
            <th>Unidades</th>
            <th>KG</th>
            <th>Nombre_items</th>
            <th>Nombre_items_talla</th>
            <th>Id guia ingreso</th>
            <th>Observaciones</th>
            <th>id_items</th>
            <th>Nombre especie</th>
            <th>Unidades caja</th>
            <th>Peso neto</th>
            <th>Tipo Venta</th>
            <th>estado calidad</th>
            <th>Codigo lata</th>
            <th>Abrevia especie</th>
            <th>Nombre items tipo</th>
            <th>Codigo ERP</th>
            <th>codigo</th>
            <th>CodigoItems</th>
            <th>Nombre defecto</th>
            <th>Nombre nivel defecto</th>
          </tr>
        </thead>
        <tbody id="TableSql">
        </tbody>
      </table>
      <div class="Prueba">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem labore doloribus dolorum possimus beatae perferendis minus atque itaque dolores ullam neque, animi tempore laboriosam nesciunt vero debitis voluptate aliquam facilis?
          Atque, nemo minus. Est nobis magni iusto rem, magnam dolor voluptas, quasi eius id eaque quos, voluptates praesentium odit! Tempora, omnis ad vel enim fugit numquam nam sed facere animi!
          Nulla pariatur voluptate aperiam ex dignissimos voluptatum rerum perferendis explicabo qui quisquam incidunt maxime, est dolores commodi. Voluptate ipsa eaque voluptatem. Nesciunt fugiat saepe tempore totam ab ipsum vero error.
          Vel similique voluptas libero, maxime, maiores animi perspiciatis magnam magni eius beatae, rerum nemo quisquam dolorum nihil excepturi repellendus eum nesciunt. Aliquam tempore architecto quasi nihil nesciunt eveniet. Atque, perferendis!
          Exercitationem ut quos recusandae? Voluptate tempore, obcaecati minus esse nobis facere et explicabo, dignissimos dolores quis sit sed doloremque? Quis impedit repellat eaque cupiditate autem totam vero laudantium, possimus quas!
          Eum sequi similique, consequatur a quo sint obcaecati quasi fugiat? Veritatis cupiditate tenetur neque aut. Dolores ab accusamus placeat suscipit! Maiores ipsam natus minima quia odit accusamus esse provident reiciendis.
          Pariatur placeat enim at alias quae amet voluptatibus aut earum expedita commodi, tenetur non qui est mollitia tempore. Cupiditate pariatur nobis iure quas quidem eius repellendus eos odio nihil totam?
          Est, soluta similique eligendi exercitationem ab odio sint. Veniam, enim vero? Dolorem iusto voluptate mollitia esse, reprehenderit unde rem porro autem ratione harum quaerat placeat soluta temporibus officia recusandae minus.
          Fugiat voluptatum eveniet iure nostrum adipisci a officia architecto velit, earum quod exercitationem ipsum esse aspernatur dignissimos minima nisi quidem dolore temporibus inventore debitis beatae sint soluta eum culpa. Quae.
          Ut delectus porro corrupti, sapiente vel suscipit ratione? Maxime dolor rem sint repudiandae minus facilis beatae nesciunt temporibus incidunt, illo cum provident reiciendis architecto sed veritatis, voluptates, quidem nisi magnam!
          Odit consequuntur facere ad? Delectus ea obcaecati inventore aut mollitia, nesciunt amet illo assumenda sit nostrum quaerat voluptatum nobis sequi quasi, similique dolorum quas iure ipsum maiores sunt vel odit?
          Expedita natus a inventore sapiente? Reiciendis esse dicta hic eaque amet laudantium aut, cupiditate quasi ducimus, eos fuga quia iusto quis fugit culpa? Cupiditate, asperiores. Suscipit necessitatibus repellat saepe ea!
          Distinctio, accusantium mollitia illo voluptatibus deleniti alias odio quia consequatur sunt consequuntur adipisci corporis? Ab maxime fugiat iusto natus, facere assumenda esse laudantium rerum, debitis explicabo quas doloribus consequuntur voluptatum?
          Enim, voluptatem quia? Ullam, harum quod ipsam a iusto asperiores repudiandae voluptatibus exercitationem debitis repellat quasi fugiat explicabo, in, beatae aspernatur omnis quaerat aliquam voluptatem. Saepe possimus repellat iste odio!
          Ea eos ad odio voluptates recusandae sint natus veniam? Eaque, blanditiis vitae debitis pariatur soluta maiores unde in? Iste nostrum ad magni obcaecati. Quidem itaque eum dolorem mollitia maiores aperiam!
          Deleniti ea vero velit id corporis nesciunt? Vero consequatur quam, repudiandae ab ad est odio quibusdam hic porro. Laboriosam labore facere delectus quo est molestias modi ut vel reprehenderit sunt?
          Itaque quisquam dignissimos, eum saepe, expedita incidunt enim magnam doloribus suscipit ullam facilis sequi maiores ratione voluptates vitae cum consectetur? Est ea laudantium labore exercitationem nostrum animi? Minus, earum fugiat.
          Porro placeat corporis blanditiis nihil modi provident id, consequuntur officia dolorum nulla expedita quisquam sapiente temporibus soluta? Quis mollitia excepturi quo accusantium accusamus sequi esse ab nesciunt asperiores. Ad, omnis!
          Ipsa autem beatae cum, odit doloremque tempore illum dicta eligendi velit eos ipsam tenetur nemo earum non quae vel, sit voluptate! Quam aliquam nobis amet corporis repudiandae nisi dolorum ut.
          Alias nemo eos tempora praesentium sint commodi quidem ea perspiciatis, eligendi deserunt hic saepe placeat architecto, quisquam quam perferendis quibusdam accusamus quia officia. Illum voluptatibus vitae obcaecati itaque et praesentium!
          Qui facere itaque maiores nostrum nam quibusdam magnam, odit, labore alias aliquam ea omnis obcaecati voluptas excepturi animi? Quis maiores dolore doloribus est veritatis nam quidem nulla ut eveniet porro.
          Perspiciatis, nesciunt magni enim in inventore cum rerum impedit quod eligendi ipsam eaque natus repellendus velit provident et quibusdam hic, deleniti odio amet. Nesciunt adipisci ex asperiores alias, soluta error!
          Dolor odio id soluta at aspernatur, nobis incidunt iusto recusandae ipsa ut vitae assumenda numquam laboriosam quae officiis eius dolores odit ducimus explicabo culpa aliquam rerum! Accusantium animi dolorem recusandae?
          Quis enim quod eligendi hic error est maiores voluptatem voluptatum, officiis beatae corrupti dignissimos, voluptatibus inventore temporibus aliquam recusandae omnis velit amet neque unde eaque incidunt. Officia atque enim cumque!
          Dolor dicta quas aspernatur temporibus minus amet expedita praesentium voluptate, aliquam, odit velit ea quia eum alias recusandae quos laborum optio adipisci nam eaque doloribus commodi! Officia veniam architecto necessitatibus.
          Esse fugiat molestiae voluptatem excepturi culpa. Ullam repudiandae deserunt optio quidem. Nam delectus quaerat aliquam natus expedita possimus id maxime quidem atque iure itaque nisi distinctio alias, nihil nesciunt aperiam?
          Iure, molestias cumque. Expedita, ex perferendis possimus neque fugiat non. Dolorem laudantium rerum obcaecati corrupti commodi ipsum non molestiae, ea vitae sequi iusto sint nesciunt? Consequatur ipsum quia aspernatur expedita!
          Quisquam alias dolorum beatae amet, sapiente maxime! Sequi, quam esse dolor harum assumenda neque nostrum eveniet mollitia iste maiores natus ex odio veniam fugiat. Nemo facilis voluptatibus saepe vel consequuntur.
          Consequatur, tempore fuga perferendis numquam, aliquid ipsa obcaecati vel hic eaque omnis unde. Consequuntur reprehenderit rerum, doloribus id beatae recusandae adipisci assumenda, voluptate dignissimos placeat quasi quia quod soluta optio.
          Praesentium illum fugit quas reprehenderit vel, eos obcaecati neque enim modi illo a? Similique eum quibusdam veritatis libero assumenda. Officia quae quia labore odio officiis optio libero quasi asperiores eaque?
          Nesciunt deleniti eos, voluptatibus inventore dolor facilis facere minus. Ipsam sint distinctio officia repellendus eaque, molestias corrupti amet optio hic doloribus! Iure minus ut cumque dolorum voluptatum, cupiditate aliquam aperiam.
          Odio consequuntur quasi sapiente ratione iusto impedit libero et accusamus quaerat culpa facere doloremque quia voluptatem laboriosam quas incidunt iure ut qui, officia praesentium velit ipsam eius? Ex, corrupti odio!
          Esse aliquid quod quae praesentium in repudiandae accusantium tempore, eveniet doloremque at ex harum quas cum consectetur? Exercitationem molestiae eos temporibus facilis ea sequi hic aliquid, fuga quaerat quos iusto.
          Nemo magnam esse nulla illum debitis molestiae quis ad ab laudantium neque. Blanditiis illum praesentium et consectetur iure vero voluptate aspernatur mollitia quod, animi repudiandae nesciunt amet cum officia similique?
          Eius inventore quibusdam dolorem, minus eum mollitia! Illum ipsam quibusdam reiciendis. Omnis quisquam saepe illum provident vel, vero iure numquam earum harum porro asperiores temporibus pariatur distinctio minima mollitia quod.
          Ducimus deserunt accusamus amet dolor laboriosam expedita incidunt ex suscipit ipsum dolores nostrum provident laudantium rerum officiis exercitationem, earum iure et? Deserunt nam delectus aliquid unde excepturi esse neque veritatis.
          Vel, velit hic dignissimos a libero in dolor delectus rerum doloribus culpa cumque corrupti laudantium maxime autem minus minima quod illum atque recusandae esse quas natus repudiandae architecto! At, ipsam?
          Debitis quae facilis numquam enim soluta eligendi error. Minima itaque cupiditate alias sed architecto incidunt laudantium reprehenderit ex illo! Necessitatibus odio at reiciendis corrupti distinctio itaque corporis ducimus quasi esse.
          Rem nobis magnam provident. Qui, nesciunt vero eius officia magni dignissimos reiciendis at fugiat quisquam pariatur voluptatum consectetur praesentium, provident necessitatibus placeat voluptate voluptatem? Veniam dolores ipsa quae voluptate voluptates.
          Quod reprehenderit quidem libero corrupti adipisci provident deserunt voluptate quam quasi sapiente, vel inventore fugiat dolorem officia veniam, doloremque qui eos magnam incidunt, expedita commodi cum. Porro dicta consequatur eos!
          Libero corporis sit repellendus adipisci obcaecati iusto quis ex nam ea blanditiis ratione, similique fugiat dolor quibusdam officia soluta autem architecto molestiae sapiente magnam debitis voluptate veritatis cupiditate. Atque, tenetur?
          Id esse sunt ipsum omnis incidunt reprehenderit doloremque aspernatur inventore tenetur, asperiores in quidem labore perferendis et voluptas reiciendis suscipit. Qui, excepturi. Cupiditate, blanditiis reprehenderit asperiores quibusdam dolore alias quidem.
          Voluptate necessitatibus deserunt animi nemo pariatur earum quaerat labore ipsam optio mollitia qui accusantium voluptas odit assumenda rem dignissimos, molestiae numquam! Dignissimos tempora iure ut placeat vel corrupti alias accusamus?
          Velit rem vitae unde non. Quia recusandae doloremque est aut porro? Eveniet dolorum molestias recusandae commodi necessitatibus atque nihil error at inventore expedita temporibus, maiores et nisi rem officia tempora!
          Quaerat sequi aspernatur repudiandae dignissimos laborum iusto cumque doloribus eveniet possimus reprehenderit. Expedita optio eaque alias harum quam quisquam voluptate accusantium, non fugiat repudiandae, dolore sint laborum hic nulla mollitia.
          Placeat rerum doloribus dolore at ad, amet animi enim natus, sapiente numquam nostrum repellendus facere cupiditate fuga? Enim commodi recusandae laudantium nostrum. Cupiditate aliquam tempora accusantium sit, dolorum saepe similique.
          Placeat quam eum numquam sequi excepturi inventore, repellat voluptas quidem? Eos omnis pariatur, possimus voluptatibus accusantium qui, ab incidunt numquam ea enim sequi consectetur reiciendis beatae maiores vel ipsam quidem?
          Magnam, dolorum. Repudiandae consequatur illo velit! Voluptatibus ipsam, totam aperiam neque numquam dicta suscipit tempore vitae architecto officia dignissimos reprehenderit cupiditate distinctio non dolor quibusdam sunt rerum vel iste. Voluptates?
          Sequi, esse, voluptatibus vero quibusdam incidunt porro eveniet ad ipsa, vitae quam atque? Totam velit quae consectetur ea voluptatem libero, atque aperiam nihil ex sequi, facere, consequuntur quam eveniet a.
          Veritatis repellat vel amet dolorem, aperiam voluptatibus harum beatae quaerat eaque expedita nemo ratione, provident adipisci odio et aliquid magni a similique numquam rem laboriosam ipsa accusantium nulla! Nam, sint?
      </div>
      
      
</body>
    <script>
        let table = document.getElementById("TableSql");
        fetch('http://localhost:4000/', {
            method:'Get',
            headers:{
                "Access-Control-Allow-Origin":"*"
             }
            })
            .then(response => response.json())
            .then(data => {
                data.forEach(d=>{

                    table.innerHTML += `<tr>
                        <th scope="row">${d.id}</th>
                        <td>${d.num_guia}</td>
                        <td>${d.fecha_guia}Otto</td>
                        <td>${d.dia_produccion}</td>
                        <td>${d.anio_produccion}</td>
                        <td>${d.viaje_ordentrabajo}</td>
                        <td>${d.codigo_proveedor}</td>
                        <td>${d.nombre.proveedor}</td>
                        <td>${d.nombre_tipo_miga}</td>
                        <td>${d.Nombre_op}</td>
                        <td>${d.Nombre_Cliente}</td>
                        <td>${d.nombre}</td>
                        <td>${d.unidades}</td>
                        <td>${d.kg}</td>
                        <td>${d.nombre_items}</td>
                        <td>${d.Nombre_items_talla}</td>
                        <td>${d.id_det_guia_ingreso}</td>
                        <td>${d.observaciones}</td>
                        <td>${d.id_items_pt}</td>
                        <td>${d.nombre_especie}</td>
                        <td>${d.unidades_caja}</td>
                        <td>${d.peso_neto}</td>
                        <td>${d.tipo_venta}</td>
                        <td>${d.estado_calidad}</td>
                        <td>${d.codigo_lata}</td>
                        <td>${d.abrevia_especie}</td>
                        <td>${d.Nombre_Items_Tipos}</td>
                        <td>${d.CodigoErp}</td>
                        <td>${d.codigo}</td>
                        <td>${d.codigo_items}</td>
                        <td>${d.nombre_defecto_pt}</td>
                        <td>${d.nombre_nivel_defecto}</td>
                      </tr>`

                })
            });
    </script>
    <style>
        .TableSQL{
            background-color: red;
            width: 100vh;
            height: 100vh;
        }
        .Prueba{
            overflow: auto;
            width: 200px;
            height: 200px;
            background-color: yellow;
        }
    </style>
</html>